<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="referrer" content="no-referrer" />

    <title>人物介绍卡片</title>
    <link rel="stylesheet" href={{ url_for('static', filename = 'introduce.css') }}>
</head>

<body>
    <div class="card">
        <div class="photo"><img src="../static/introduce1.jpg" alt=""></div>
        <h1>Li Xuehui</h1>
        <h2>李雪荟</h2>
        <p>负责前端整合</p>
        <a href="#">了解更多</a>
    </div>
    <div class="card">
        <div class="photo"><img src="../static/introduce2.jpg" alt=""></div>
        <h1>Wu Yufei</h1>
        <h2>吴雨菲</h2>
        <p>负责索引、新闻聚类及图片检索</p>
        <a href="#">了解更多</a>
    </div>
    <div class="card">
        <div class="photo"><img src="../static/introduce3.jpg" alt=""></div>
        <h1>Kang Yaoyu</h1>
        <h2>康耀宇</h2>
        <p>负责爬虫、图片检索与排序</p>
        <a href="#">了解更多</a>
    </div>
    <div class="card">
        <div class="photo"><img src="../static/introduce4.jpg" alt=""></div>
        <h1>Liu Xingyuan</h1>
        <h2>刘星圆</h2>
        <p>负责爬虫与前端整合</p>
        <a href="#">了解更多</a>
    </div>
</body>

</html>